<%
 title "Weather demo"
 meta_description 'Meta descriptions are useful for SEO purposes.'
 heading "Click on the map for a weather forecast!"
%>


<div class="row">
  <div class="col-sm-12">

    <%= react_component("HelloWorld", props: @map_props, prerender: false) %>

  </div>

</div>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCobJEa63EvT8bnngkpVCvgf1SwiAeaPpc">
</script>
